<% include partials/header.ejs %>

<div class="container">
    <h1>Welcome to EasyLog!</h1>
    
    <div class="container">
        <a class="btn btn-success" href="/logs/new" role="button">Create new Log</a>  
    </div>
</div>


<% include partials/footer.ejs %>